body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}



.bigcontainer {
    display: flex;
    flex-direction: column;
    width: 926px;
    height: 926px;
    border: solid 2px blue;
}
.container {
    display: flex;
    flex-grow: 1;
}
.container div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    min-width: 10px;
    max-width: 900px;
    min-height: 10px;
    max-height: 900px;
    border: 1px solid black;
    box-sizing: border-box;
   
}
